{% extends 'main/main_base.html' %}
{% load static %}
{% block title %}联系我们{% endblock %}

{% block css %}
#qrcode{
    display: inline-block;
    margin: 1em auto;
    width: 30%;
}

.content{
    text-align: center;
}

.content div{
    text-align: left;
}

.content div h2 {
    height: 36px;
    text-align: left;
    line-height: 36px;
    font-size: 26px;
    font-weight: normal;
    margin: 1em 0 0;
    padding: 0 1em;
}

.content div p{
    margin-left:2em;
    padding-top:1em;
    color: gray;
}

.content p span{
    font-size: 20px;
    color: black;
    position: absolute;
    left: 5em;
}

{% endblock %}

{% block content %}
    <div>
        <h2>香港信泓贸易国际有限公司</h2>
        <h2>联系方式</h2>
        <div style="margin-top:3em;position:relative;">
            <p>
                联系人:<span>&emsp; Perry Ng</span>
            </p>

            <p>
                手机号:<span>&emsp; 13391030807</span>
            </p>

            <p>
                Email:<span>&emsp; 1758875800@qq.com</span>
            </p>
        </div>

</div>


{% endblock %}
